body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  color: white;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.form-box input {
  margin: 5px 0;
  padding: 10px;
}

.form-box button {
  padding: 10px;
  margin-top: 10px;
}

#error {
  color: red;
  font-size: 14px;
}