/* margin-right */
.mr-0 {
  margin-right: 0;
  margin-right: 0 !important;
}
.mr-px {
  margin-right: 1px;
  margin-right: 1px !important;
}
.mr-0-5 {
  margin-right: 0.125rem;
  margin-right: 0.125rem !important;
}
.mr-1 {
  margin-right: 0.25rem;
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem;
  margin-right: 0.5rem !important;
}
.mr-3 {
  margin-right: 0.75rem;
  margin-right: 0.75rem !important;
}
.mr-4 {
  margin-right: 1rem;
  margin-right: 1rem !important;
}
.mr-5 {
  margin-right: 1.25rem;
  margin-right: 1.25rem !important;
}
.mr-6 {
  margin-right: 1.5rem;
  margin-right: 1.5rem !important;
}
.mr-8 {
  margin-right: 2rem;
  margin-right: 2rem !important;
}
.mr-10 {
  margin-right: 2.5rem;
  margin-right: 2.5rem !important;
}
.mr-12 {
  margin-right: 3rem;
  margin-right: 3rem !important;
}
.mr-16 {
  margin-right: 4rem;
  margin-right: 4rem !important;
}
.mr-20 {
  margin-right: 5rem;
  margin-right: 5rem !important;
}
.mr-24 {
  margin-right: 6rem;
  margin-right: 6rem !important;
}
.mr-32 {
  margin-right: 8rem;
  margin-right: 8rem !important;
}
.mr-auto {
  margin-right: auto;
  margin-right: auto !important;
}
.mr-inherit {
  margin-right: inherit;
  margin-right: inherit !important;
}
.mr-initial {
  margin-right: initial;
  margin-right: initial !important;
}
.mr-unset {
  margin-right: unset;
  margin-right: unset !important;
}
.mr-0-i {
  margin-right: 0 !important;
  margin-right: 0 !important !important;
}
.mr-auto-i {
  margin-right: auto !important;
  margin-right: auto !important !important;
}
.mr-1-i {
  margin-right: 0.25rem !important;
  margin-right: 0.25rem !important !important;
}
.mr-2-i {
  margin-right: 0.5rem !important;
  margin-right: 0.5rem !important !important;
}
.mr-4-i {
  margin-right: 1rem !important;
  margin-right: 1rem !important !important;
}
.mr-8-i {
  margin-right: 2rem !important;
  margin-right: 2rem !important !important;
}
.mr-16-i {
  margin-right: 4rem !important;
  margin-right: 4rem !important !important;
}
.mr-neg-1 {
  margin-right: -0.25rem;
  margin-right: -0.25rem !important;
}
.mr-neg-2 {
  margin-right: -0.5rem;
  margin-right: -0.5rem !important;
}
.mr-neg-4 {
  margin-right: -1rem;
  margin-right: -1rem !important;
}
.mr-neg-8 {
  margin-right: -2rem;
  margin-right: -2rem !important;
}
.mr-neg-12 {
  margin-right: -3rem;
  margin-right: -3rem !important;
}
.mr-neg-16 {
  margin-right: -4rem;
  margin-right: -4rem !important;
}
.mr-1-2 {
  margin-right: 50%;
  margin-right: 50% !important;
}
.mr-1-4 {
  margin-right: 25%;
  margin-right: 25% !important;
}
.mr-3-4 {
  margin-right: 75%;
  margin-right: 75% !important;
}
.mr-full {
  margin-right: 100%;
  margin-right: 100% !important;
}
.mr-screen {
  margin-right: 100vw;
  margin-right: 100vw !important;
}
@media (min-width: 640px) {
  .sm\:mr-0 {
    margin-right: 0;
  }
}
@media (min-width: 640px) {
  .sm\:mr-px {
    margin-right: 1px;
  }
}
@media (min-width: 640px) {
  .sm\:mr-0-5 {
    margin-right: 0.125rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-1 {
    margin-right: 0.25rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-2 {
    margin-right: 0.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-3 {
    margin-right: 0.75rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-4 {
    margin-right: 1rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-5 {
    margin-right: 1.25rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-6 {
    margin-right: 1.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-8 {
    margin-right: 2rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-10 {
    margin-right: 2.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-12 {
    margin-right: 3rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-16 {
    margin-right: 4rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-20 {
    margin-right: 5rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-24 {
    margin-right: 6rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-32 {
    margin-right: 8rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-auto {
    margin-right: auto;
  }
}
@media (min-width: 640px) {
  .sm\:mr-inherit {
    margin-right: inherit;
  }
}
@media (min-width: 640px) {
  .sm\:mr-initial {
    margin-right: initial;
  }
}
@media (min-width: 640px) {
  .sm\:mr-unset {
    margin-right: unset;
  }
}
@media (min-width: 640px) {
  .sm\:mr-0-i {
    margin-right: 0 !important;
  }
}
@media (min-width: 640px) {
  .sm\:mr-auto-i {
    margin-right: auto !important;
  }
}
@media (min-width: 640px) {
  .sm\:mr-1-i {
    margin-right: 0.25rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:mr-2-i {
    margin-right: 0.5rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:mr-4-i {
    margin-right: 1rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:mr-8-i {
    margin-right: 2rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:mr-16-i {
    margin-right: 4rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:mr-neg-1 {
    margin-right: -0.25rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-neg-2 {
    margin-right: -0.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-neg-4 {
    margin-right: -1rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-neg-8 {
    margin-right: -2rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-neg-12 {
    margin-right: -3rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-neg-16 {
    margin-right: -4rem;
  }
}
@media (min-width: 640px) {
  .sm\:mr-1-2 {
    margin-right: 50%;
  }
}
@media (min-width: 640px) {
  .sm\:mr-1-4 {
    margin-right: 25%;
  }
}
@media (min-width: 640px) {
  .sm\:mr-3-4 {
    margin-right: 75%;
  }
}
@media (min-width: 640px) {
  .sm\:mr-full {
    margin-right: 100%;
  }
}
@media (min-width: 640px) {
  .sm\:mr-screen {
    margin-right: 100vw;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-0 {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-px {
    margin-right: 1px;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-0-5 {
    margin-right: 0.125rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-1 {
    margin-right: 0.25rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-2 {
    margin-right: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-3 {
    margin-right: 0.75rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-4 {
    margin-right: 1rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-5 {
    margin-right: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-6 {
    margin-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-8 {
    margin-right: 2rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-10 {
    margin-right: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-12 {
    margin-right: 3rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-16 {
    margin-right: 4rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-20 {
    margin-right: 5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-24 {
    margin-right: 6rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-32 {
    margin-right: 8rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-auto {
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-inherit {
    margin-right: inherit;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-initial {
    margin-right: initial;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-unset {
    margin-right: unset;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-0-i {
    margin-right: 0 !important;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-auto-i {
    margin-right: auto !important;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-1-i {
    margin-right: 0.25rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-2-i {
    margin-right: 0.5rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-4-i {
    margin-right: 1rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-8-i {
    margin-right: 2rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-16-i {
    margin-right: 4rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-neg-1 {
    margin-right: -0.25rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-neg-2 {
    margin-right: -0.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-neg-4 {
    margin-right: -1rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-neg-8 {
    margin-right: -2rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-neg-12 {
    margin-right: -3rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-neg-16 {
    margin-right: -4rem;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-1-2 {
    margin-right: 50%;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-1-4 {
    margin-right: 25%;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-3-4 {
    margin-right: 75%;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-full {
    margin-right: 100%;
  }
}
@media (min-width: 1024px) {
  .lg\:mr-screen {
    margin-right: 100vw;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-0 {
    margin-right: 0;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-px {
    margin-right: 1px;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-0-5 {
    margin-right: 0.125rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-1 {
    margin-right: 0.25rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-2 {
    margin-right: 0.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-3 {
    margin-right: 0.75rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-4 {
    margin-right: 1rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-5 {
    margin-right: 1.25rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-6 {
    margin-right: 1.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-8 {
    margin-right: 2rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-10 {
    margin-right: 2.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-12 {
    margin-right: 3rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-16 {
    margin-right: 4rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-20 {
    margin-right: 5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-24 {
    margin-right: 6rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-32 {
    margin-right: 8rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-auto {
    margin-right: auto;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-inherit {
    margin-right: inherit;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-initial {
    margin-right: initial;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-unset {
    margin-right: unset;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-0-i {
    margin-right: 0 !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-auto-i {
    margin-right: auto !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-1-i {
    margin-right: 0.25rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-2-i {
    margin-right: 0.5rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-4-i {
    margin-right: 1rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-8-i {
    margin-right: 2rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-16-i {
    margin-right: 4rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-neg-1 {
    margin-right: -0.25rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-neg-2 {
    margin-right: -0.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-neg-4 {
    margin-right: -1rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-neg-8 {
    margin-right: -2rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-neg-12 {
    margin-right: -3rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-neg-16 {
    margin-right: -4rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-1-2 {
    margin-right: 50%;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-1-4 {
    margin-right: 25%;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-3-4 {
    margin-right: 75%;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-full {
    margin-right: 100%;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mr-screen {
    margin-right: 100vw;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-0 {
    margin-right: 0;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-px {
    margin-right: 1px;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-0-5 {
    margin-right: 0.125rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-1 {
    margin-right: 0.25rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-2 {
    margin-right: 0.5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-3 {
    margin-right: 0.75rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-4 {
    margin-right: 1rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-5 {
    margin-right: 1.25rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-6 {
    margin-right: 1.5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-8 {
    margin-right: 2rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-10 {
    margin-right: 2.5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-12 {
    margin-right: 3rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-16 {
    margin-right: 4rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-20 {
    margin-right: 5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-24 {
    margin-right: 6rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-32 {
    margin-right: 8rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-auto {
    margin-right: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-inherit {
    margin-right: inherit;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-initial {
    margin-right: initial;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-unset {
    margin-right: unset;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-0-i {
    margin-right: 0 !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-auto-i {
    margin-right: auto !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-1-i {
    margin-right: 0.25rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-2-i {
    margin-right: 0.5rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-4-i {
    margin-right: 1rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-8-i {
    margin-right: 2rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-16-i {
    margin-right: 4rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-neg-1 {
    margin-right: -0.25rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-neg-2 {
    margin-right: -0.5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-neg-4 {
    margin-right: -1rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-neg-8 {
    margin-right: -2rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-neg-12 {
    margin-right: -3rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-neg-16 {
    margin-right: -4rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-1-2 {
    margin-right: 50%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-1-4 {
    margin-right: 25%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-3-4 {
    margin-right: 75%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-full {
    margin-right: 100%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mr-screen {
    margin-right: 100vw;
  }
}
