body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #0f172a;
  overflow: hidden;

  font-family: Arial, sans-serif;
}

.orbit-container {
  position: relative;

  width: 250px;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-dot {
  width: 22px;
  height: 22px;

  background: white;
  border-radius: 50%;
}

.orbit-item {
  position: absolute;

  width: 40px;
  height: 40px;

  background: #38bdf8;
  border-radius: 50%;

  transform-origin: -90px center;

  animation: orbitRotate 14s linear infinite;
}

/* Orbit Rotation Animation */

@keyframes orbitRotate {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}