/* Skeleton Loading Shimmer CSS */
.skeleton-shimmer {
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  animation: skeletonShimmer 2s linear infinite forwards;
}

@keyframes skeletonShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
