*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#0d1117;
font-family:Arial,sans-serif;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;

}

.container{

text-align:center;

}

.heatmap{

display:flex;
gap:8px;
margin:45px 0;

}

.week{

display:flex;
flex-direction:column;
gap:8px;

}

.cell{

width:18px;
height:18px;
border-radius:4px;
cursor:pointer;
transition:.25s;
animation:pop .5s ease;

}

.level-0{background:#161b22;}
.level-1{background:#0e4429;}
.level-2{background:#006d32;}
.level-3{background:#26a641;}
.level-4{background:#39d353;}

.cell:hover{

transform:scale(1.4);
box-shadow:0 0 15px #39d353;

}

.legend{

display:flex;
justify-content:center;
align-items:center;
gap:8px;

}

.mini{

width:14px;
height:14px;
border-radius:3px;

}

.l0{background:#161b22;}
.l1{background:#0e4429;}
.l2{background:#006d32;}
.l3{background:#26a641;}
.l4{background:#39d353;}

@keyframes pop{

from{

opacity:0;
transform:scale(.3);

}

to{

opacity:1;
transform:scale(1);

}

}