:root {
  --duration: 0.5s;
  --easing: ease;
  --modal-scale: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f7fb;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-btn,
.close-btn {
  text-decoration: none;
  padding: 12px 24px;
  background: #4f46e5;
  color: white;
  border-radius: 8px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--duration);
}

.modal-box {
  width: 90%;
  max-width: 400px;
  background: white;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  gap: 18px;
  transform: rotate(-8deg) scale(var(--modal-scale));
  transition: transform var(--duration) var(--easing);
}
.modal-box h2 {
  margin-bottom: 16px;
}

.modal-box p {
  margin-bottom: 24px;
}
.modal:target {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal:target .modal-box {
  transform: rotate(0deg) scale(1);
}