body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: #0f0e17;
}
a {
  color: #ff8906;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #f25f4c;
  transition: width 0.3s;
}
a:hover::after {
  width: 100%;
}
