/* will-change utilities for #16559 */

.will-change-auto { will-change: auto; }
.will-change-transform { will-change: transform; }
.will-change-opacity { will-change: opacity; }
.will-change-scroll { will-change: scroll-position; }
