body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  padding-top: 100px;
}

/* button */
button {
  padding: 10px 20px;
  border: none;
  background: #00c853;
  cursor: pointer;
}

/* dropdown */
.menu {
  display: none;
  margin-top: 10px;
  background: #222;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 10px;
}

.menu p {
  margin: 10px 0;
}