body {
  margin: 0;
  background: #111;
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup {
  background: #222;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #00c853;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #009624;
}