/* Text-align-last utilities for #16461 */

.last-left { text-align-last: left; }
.last-center { text-align-last: center; }
.last-right { text-align-last: right; }
.last-justify { text-align-last: justify; }
