
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 40px;
    background:#1f1f1f;
}

.logo{
    color:white;
    font-size:34px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:25px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

.nav-links a:hover{
    color:#58a6ff;
}

.github-btn{
    background:#24292f;
    padding:10px 18px;
    border-radius:6px;
    transition:all .3s ease;
}

.github-btn:hover{
    background:black;
    color:white;
    transform:translateY(-2px);
}

.hero{
    text-align:center;
    margin-top:90px;
    padding:20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    color:#555;
    max-width:700px;
    margin:auto;
    line-height:1.6;
}

.visit-btn{
    display:inline-block;
    margin-top:35px;
    text-decoration:none;
    background:#24292f;
    color:white;
    padding:14px 28px;
    border-radius:8px;
    transition:.3s;
}

.visit-btn:hover{
    background:black;
    transform:scale(1.05);
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:18px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:36px;
    }

    .hero p{
        font-size:17px;
    }

}