*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#07111d;

font-family:Arial,sans-serif;

color:white;

}

.wrapper{

text-align:center;

}

h1{

margin-bottom:50px;

}

nav{

display:flex;

gap:20px;

justify-content:center;

flex-wrap:wrap;

margin-bottom:35px;

}

nav a{

position:relative;

padding:16px 28px;

text-decoration:none;

color:white;

background:#111827;

border-radius:10px;

transform-style:preserve-3d;

transition:.45s;

overflow:hidden;

}

nav a::before{

content:"";

position:absolute;

inset:0;

background:#22c55e;

transform-origin:top;

transform:rotateX(-90deg);

transition:.45s;

z-index:-1;

}

nav a:hover{

transform:translateY(-8px);

color:#07111d;

}

nav a:hover::before{

transform:rotateX(0);

}

p{

color:#cbd5e1;

}