/* list-style */
.list-none {
  list-style: none;
  list-style: none !important;
}
.list-disc {
  list-style: disc;
  list-style: disc !important;
}
.list-decimal {
  list-style: decimal;
  list-style: decimal !important;
}
.list-square {
  list-style: square;
  list-style: square !important;
}
.list-circle {
  list-style: circle;
  list-style: circle !important;
}
@media (min-width: 640px) {
  .sm\:list-none {
    list-style: none;
  }
}
@media (min-width: 640px) {
  .sm\:list-disc {
    list-style: disc;
  }
}
@media (min-width: 640px) {
  .sm\:list-decimal {
    list-style: decimal;
  }
}
@media (min-width: 640px) {
  .sm\:list-square {
    list-style: square;
  }
}
@media (min-width: 640px) {
  .sm\:list-circle {
    list-style: circle;
  }
}
@media (min-width: 1024px) {
  .lg\:list-none {
    list-style: none;
  }
}
@media (min-width: 1024px) {
  .lg\:list-disc {
    list-style: disc;
  }
}
@media (min-width: 1024px) {
  .lg\:list-decimal {
    list-style: decimal;
  }
}
@media (min-width: 1024px) {
  .lg\:list-square {
    list-style: square;
  }
}
@media (min-width: 1024px) {
  .lg\:list-circle {
    list-style: circle;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-none {
    list-style: none;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-disc {
    list-style: disc;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-decimal {
    list-style: decimal;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-square {
    list-style: square;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-circle {
    list-style: circle;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-none {
    list-style: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-disc {
    list-style: disc;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-decimal {
    list-style: decimal;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-square {
    list-style: square;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-circle {
    list-style: circle;
  }
}
/* list-style-position */
.list-inside {
  list-style-position: inside;
  list-style-position: inside !important;
}
.list-outside {
  list-style-position: outside;
  list-style-position: outside !important;
}
@media (min-width: 640px) {
  .sm\:list-inside {
    list-style-position: inside;
  }
}
@media (min-width: 640px) {
  .sm\:list-outside {
    list-style-position: outside;
  }
}
@media (min-width: 1024px) {
  .lg\:list-inside {
    list-style-position: inside;
  }
}
@media (min-width: 1024px) {
  .lg\:list-outside {
    list-style-position: outside;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-inside {
    list-style-position: inside;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-outside {
    list-style-position: outside;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-inside {
    list-style-position: inside;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-outside {
    list-style-position: outside;
  }
}
/* list-style-type */
.list-alpha {
  list-style-type: lower-alpha;
  list-style-type: lower-alpha !important;
}
.list-alpha-upper {
  list-style-type: upper-alpha;
  list-style-type: upper-alpha !important;
}
.list-roman {
  list-style-type: lower-roman;
  list-style-type: lower-roman !important;
}
.list-roman-upper {
  list-style-type: upper-roman;
  list-style-type: upper-roman !important;
}
@media (min-width: 640px) {
  .sm\:list-alpha {
    list-style-type: lower-alpha;
  }
}
@media (min-width: 640px) {
  .sm\:list-alpha-upper {
    list-style-type: upper-alpha;
  }
}
@media (min-width: 640px) {
  .sm\:list-roman {
    list-style-type: lower-roman;
  }
}
@media (min-width: 640px) {
  .sm\:list-roman-upper {
    list-style-type: upper-roman;
  }
}
@media (min-width: 1024px) {
  .lg\:list-alpha {
    list-style-type: lower-alpha;
  }
}
@media (min-width: 1024px) {
  .lg\:list-alpha-upper {
    list-style-type: upper-alpha;
  }
}
@media (min-width: 1024px) {
  .lg\:list-roman {
    list-style-type: lower-roman;
  }
}
@media (min-width: 1024px) {
  .lg\:list-roman-upper {
    list-style-type: upper-roman;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-alpha {
    list-style-type: lower-alpha;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-alpha-upper {
    list-style-type: upper-alpha;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-roman {
    list-style-type: lower-roman;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:list-roman-upper {
    list-style-type: upper-roman;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-alpha {
    list-style-type: lower-alpha;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-alpha-upper {
    list-style-type: upper-alpha;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-roman {
    list-style-type: lower-roman;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:list-roman-upper {
    list-style-type: upper-roman;
  }
}
