/* direction */
.dir-ltr {
  direction: ltr;
  direction: ltr !important;
}
.dir-rtl {
  direction: rtl;
  direction: rtl !important;
}
.dir-inherit {
  direction: inherit;
  direction: inherit !important;
}
.dir-ltr-important {
  direction: ltr !important;
  direction: ltr !important !important;
}
.dir-rtl-important {
  direction: rtl !important;
  direction: rtl !important !important;
}
@media (min-width: 640px) {
  .sm\:dir-ltr {
    direction: ltr;
  }
}
@media (min-width: 640px) {
  .sm\:dir-rtl {
    direction: rtl;
  }
}
@media (min-width: 640px) {
  .sm\:dir-inherit {
    direction: inherit;
  }
}
@media (min-width: 640px) {
  .sm\:dir-ltr-important {
    direction: ltr !important;
  }
}
@media (min-width: 640px) {
  .sm\:dir-rtl-important {
    direction: rtl !important;
  }
}
@media (min-width: 1024px) {
  .lg\:dir-ltr {
    direction: ltr;
  }
}
@media (min-width: 1024px) {
  .lg\:dir-rtl {
    direction: rtl;
  }
}
@media (min-width: 1024px) {
  .lg\:dir-inherit {
    direction: inherit;
  }
}
@media (min-width: 1024px) {
  .lg\:dir-ltr-important {
    direction: ltr !important;
  }
}
@media (min-width: 1024px) {
  .lg\:dir-rtl-important {
    direction: rtl !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:dir-ltr {
    direction: ltr;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:dir-rtl {
    direction: rtl;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:dir-inherit {
    direction: inherit;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:dir-ltr-important {
    direction: ltr !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:dir-rtl-important {
    direction: rtl !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:dir-ltr {
    direction: ltr;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:dir-rtl {
    direction: rtl;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:dir-inherit {
    direction: inherit;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:dir-ltr-important {
    direction: ltr !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:dir-rtl-important {
    direction: rtl !important;
  }
}
