:root {
  --ease-cursor-color: currentColor;
  --ease-cursor-width: 2px;
  --ease-cursor-style: solid;
}

.ease-typing-cursor {
  border-right: var(--ease-cursor-width) var(--ease-cursor-style) var(--ease-cursor-color);
  animation: ease-blink-cursor 1s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

@keyframes ease-blink-cursor {
  50% { border-color: transparent; }
}
