body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  padding-top: 100px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #00c853;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  list-style: none;
}