body {
  margin: 0;
  font-family: Arial;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* announcement card */
.announcement {
  background: #222;
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #00c853;
  cursor: pointer;
}

button:hover {
  background: #111;
}