*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#020617;

font-family:Arial,sans-serif;

overflow:hidden;

color:white;

}

.container{

text-align:center;

}

.title{

font-size:70px;

font-weight:800;

letter-spacing:6px;

}

.title span{

display:inline-block;

opacity:0;

animation:vortex 1.8s forwards;

}

.title span:nth-child(1){animation-delay:.1s;}
.title span:nth-child(2){animation-delay:.2s;}
.title span:nth-child(3){animation-delay:.3s;}
.title span:nth-child(4){animation-delay:.4s;}
.title span:nth-child(5){animation-delay:.5s;}
.title span:nth-child(6){animation-delay:.6s;}
.title span:nth-child(7){animation-delay:.7s;}
.title span:nth-child(8){animation-delay:.8s;}
.title span:nth-child(9){animation-delay:.9s;}
.title span:nth-child(10){animation-delay:1s;}

p{

margin-top:30px;

color:#cbd5e1;

}

@keyframes vortex{

0%{

transform:

rotate(720deg)

translate(250px,-200px)

scale(.1);

opacity:0;

filter:blur(12px);

}

70%{

opacity:1;

}

100%{

transform:

rotate(0)

translate(0)

scale(1);

opacity:1;

filter:blur(0);

text-shadow:

0 0 10px #38bdf8,

0 0 25px #38bdf8;

}

}