# Next.js build output
.next/
out/
build/

# Dependency directories
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env*.local

# Editor/IDE temporary files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
