/* padding-bottom */
.pb-0 {
  padding-bottom: 0;
  padding-bottom: 0 !important;
}
.pb-px {
  padding-bottom: 1px;
  padding-bottom: 1px !important;
}
.pb-0-5 {
  padding-bottom: 0.125rem;
  padding-bottom: 0.125rem !important;
}
.pb-1 {
  padding-bottom: 0.25rem;
  padding-bottom: 0.25rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem;
  padding-bottom: 0.5rem !important;
}
.pb-3 {
  padding-bottom: 0.75rem;
  padding-bottom: 0.75rem !important;
}
.pb-4 {
  padding-bottom: 1rem;
  padding-bottom: 1rem !important;
}
.pb-5 {
  padding-bottom: 1.25rem;
  padding-bottom: 1.25rem !important;
}
.pb-6 {
  padding-bottom: 1.5rem;
  padding-bottom: 1.5rem !important;
}
.pb-8 {
  padding-bottom: 2rem;
  padding-bottom: 2rem !important;
}
.pb-10 {
  padding-bottom: 2.5rem;
  padding-bottom: 2.5rem !important;
}
.pb-12 {
  padding-bottom: 3rem;
  padding-bottom: 3rem !important;
}
.pb-16 {
  padding-bottom: 4rem;
  padding-bottom: 4rem !important;
}
.pb-20 {
  padding-bottom: 5rem;
  padding-bottom: 5rem !important;
}
.pb-24 {
  padding-bottom: 6rem;
  padding-bottom: 6rem !important;
}
.pb-32 {
  padding-bottom: 8rem;
  padding-bottom: 8rem !important;
}
.pb-inherit {
  padding-bottom: inherit;
  padding-bottom: inherit !important;
}
.pb-initial {
  padding-bottom: initial;
  padding-bottom: initial !important;
}
.pb-unset {
  padding-bottom: unset;
  padding-bottom: unset !important;
}
.pb-0-i {
  padding-bottom: 0 !important;
  padding-bottom: 0 !important !important;
}
.pb-1-i {
  padding-bottom: 0.25rem !important;
  padding-bottom: 0.25rem !important !important;
}
.pb-2-i {
  padding-bottom: 0.5rem !important;
  padding-bottom: 0.5rem !important !important;
}
.pb-4-i {
  padding-bottom: 1rem !important;
  padding-bottom: 1rem !important !important;
}
.pb-8-i {
  padding-bottom: 2rem !important;
  padding-bottom: 2rem !important !important;
}
.pb-16-i {
  padding-bottom: 4rem !important;
  padding-bottom: 4rem !important !important;
}
.pb-1-2 {
  padding-bottom: 50%;
  padding-bottom: 50% !important;
}
.pb-1-4 {
  padding-bottom: 25%;
  padding-bottom: 25% !important;
}
.pb-3-4 {
  padding-bottom: 75%;
  padding-bottom: 75% !important;
}
.pb-full {
  padding-bottom: 100%;
  padding-bottom: 100% !important;
}
.pb-screen {
  padding-bottom: 100vh;
  padding-bottom: 100vh !important;
}
@media (min-width: 640px) {
  .sm\:pb-0 {
    padding-bottom: 0;
  }
}
@media (min-width: 640px) {
  .sm\:pb-px {
    padding-bottom: 1px;
  }
}
@media (min-width: 640px) {
  .sm\:pb-0-5 {
    padding-bottom: 0.125rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-1 {
    padding-bottom: 0.25rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-2 {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-3 {
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-4 {
    padding-bottom: 1rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-5 {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-6 {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-8 {
    padding-bottom: 2rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-10 {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-12 {
    padding-bottom: 3rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-16 {
    padding-bottom: 4rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-20 {
    padding-bottom: 5rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-24 {
    padding-bottom: 6rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-32 {
    padding-bottom: 8rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-inherit {
    padding-bottom: inherit;
  }
}
@media (min-width: 640px) {
  .sm\:pb-initial {
    padding-bottom: initial;
  }
}
@media (min-width: 640px) {
  .sm\:pb-unset {
    padding-bottom: unset;
  }
}
@media (min-width: 640px) {
  .sm\:pb-0-i {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 640px) {
  .sm\:pb-1-i {
    padding-bottom: 0.25rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:pb-2-i {
    padding-bottom: 0.5rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:pb-4-i {
    padding-bottom: 1rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:pb-8-i {
    padding-bottom: 2rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:pb-16-i {
    padding-bottom: 4rem !important;
  }
}
@media (min-width: 640px) {
  .sm\:pb-1-2 {
    padding-bottom: 50%;
  }
}
@media (min-width: 640px) {
  .sm\:pb-1-4 {
    padding-bottom: 25%;
  }
}
@media (min-width: 640px) {
  .sm\:pb-3-4 {
    padding-bottom: 75%;
  }
}
@media (min-width: 640px) {
  .sm\:pb-full {
    padding-bottom: 100%;
  }
}
@media (min-width: 640px) {
  .sm\:pb-screen {
    padding-bottom: 100vh;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-0 {
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-px {
    padding-bottom: 1px;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-0-5 {
    padding-bottom: 0.125rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-1 {
    padding-bottom: 0.25rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-2 {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-3 {
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-4 {
    padding-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-5 {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-6 {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-8 {
    padding-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-10 {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-12 {
    padding-bottom: 3rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-16 {
    padding-bottom: 4rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-20 {
    padding-bottom: 5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-24 {
    padding-bottom: 6rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-32 {
    padding-bottom: 8rem;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-inherit {
    padding-bottom: inherit;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-initial {
    padding-bottom: initial;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-unset {
    padding-bottom: unset;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-0-i {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-1-i {
    padding-bottom: 0.25rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-2-i {
    padding-bottom: 0.5rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-4-i {
    padding-bottom: 1rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-8-i {
    padding-bottom: 2rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-16-i {
    padding-bottom: 4rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-1-2 {
    padding-bottom: 50%;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-1-4 {
    padding-bottom: 25%;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-3-4 {
    padding-bottom: 75%;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-full {
    padding-bottom: 100%;
  }
}
@media (min-width: 1024px) {
  .lg\:pb-screen {
    padding-bottom: 100vh;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-0 {
    padding-bottom: 0;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-px {
    padding-bottom: 1px;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-0-5 {
    padding-bottom: 0.125rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-1 {
    padding-bottom: 0.25rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-2 {
    padding-bottom: 0.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-3 {
    padding-bottom: 0.75rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-4 {
    padding-bottom: 1rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-5 {
    padding-bottom: 1.25rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-6 {
    padding-bottom: 1.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-8 {
    padding-bottom: 2rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-10 {
    padding-bottom: 2.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-12 {
    padding-bottom: 3rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-16 {
    padding-bottom: 4rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-20 {
    padding-bottom: 5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-24 {
    padding-bottom: 6rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-32 {
    padding-bottom: 8rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-inherit {
    padding-bottom: inherit;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-initial {
    padding-bottom: initial;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-unset {
    padding-bottom: unset;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-0-i {
    padding-bottom: 0 !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-1-i {
    padding-bottom: 0.25rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-2-i {
    padding-bottom: 0.5rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-4-i {
    padding-bottom: 1rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-8-i {
    padding-bottom: 2rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-16-i {
    padding-bottom: 4rem !important;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-1-2 {
    padding-bottom: 50%;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-1-4 {
    padding-bottom: 25%;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-3-4 {
    padding-bottom: 75%;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-full {
    padding-bottom: 100%;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:pb-screen {
    padding-bottom: 100vh;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-0 {
    padding-bottom: 0;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-px {
    padding-bottom: 1px;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-0-5 {
    padding-bottom: 0.125rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-1 {
    padding-bottom: 0.25rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-2 {
    padding-bottom: 0.5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-3 {
    padding-bottom: 0.75rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-4 {
    padding-bottom: 1rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-5 {
    padding-bottom: 1.25rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-6 {
    padding-bottom: 1.5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-8 {
    padding-bottom: 2rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-10 {
    padding-bottom: 2.5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-12 {
    padding-bottom: 3rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-16 {
    padding-bottom: 4rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-20 {
    padding-bottom: 5rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-24 {
    padding-bottom: 6rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-32 {
    padding-bottom: 8rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-inherit {
    padding-bottom: inherit;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-initial {
    padding-bottom: initial;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-unset {
    padding-bottom: unset;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-0-i {
    padding-bottom: 0 !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-1-i {
    padding-bottom: 0.25rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-2-i {
    padding-bottom: 0.5rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-4-i {
    padding-bottom: 1rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-8-i {
    padding-bottom: 2rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-16-i {
    padding-bottom: 4rem !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-1-2 {
    padding-bottom: 50%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-1-4 {
    padding-bottom: 25%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-3-4 {
    padding-bottom: 75%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-full {
    padding-bottom: 100%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:pb-screen {
    padding-bottom: 100vh;
  }
}
